* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --black: #0D0D0D;
  --black-rgb: 13 13 13;
  --white: #ffffff;
  --white-rgb: 255 255 255;
  --grey: #bac3c6;
  --grey-rgb: 186 195 198;
  --main-font: "Nothing You Could Do", cursive;
  --title-font: 'Astetes', sans-serif;
  --write-font: 'Nothing You Could Do', sans-serif;
  --c5o: 5%;
  --c2o: 2.5%;
  --c1o: 1%;
  --c5v: 5vh;
  --c7v: 7vh;
  --c10v: 10vh;
  --c15v: 15vh;
  --ad-font-sans: "FKGrotesk-Regular", sans-serif;
  --ad-font-serif: "OTNeglige-L", serif;
  --ad-color-primary: #1a1a1e;
  --ad-color-text: #d8d9e3;
  font-size: 20px;
  --rem: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: calc(16px + (20 - 16) * ((100vw - 360px) / 1560));
  }
}

body {
  font-family: var(--main-font);
  background-color: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-family: var(--title-font);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.1;
}

p {
  font-family: var(--main-font);
  color: var(--white);
  font-weight: 300;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, button, input, select, optgroup,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
